
$primary-color: #1976D2;
$secondary-color: #EC407A;

$accent-color-1: #FFB300;
$accent-color-2: #7CB342;

$light-neutral: #FAFAFA;
$dark-neutral: #424242;
$medium-neutral: #BDBDBD;
$soft-gray: #F5F5F5;
$transparent-white: #ffffffe6