@import '../shared/styles/variables.scss';

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.w2-details {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;

  h2 {
    color: $primary-color;
    margin-bottom: 15px;
  }

  .detail {
    background-color: $light-neutral;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;

    strong {
      color: $dark-neutral;
      margin-right: 5px;
    }
  }

  .divider {
    height: 1.5px;
    background-color: lighten($medium-neutral, 15%);
    margin: 20px 0;
  }
}
