<div class="container-fluid home-container">
  <div class="row">
    <div class="col-md-4">
      <div class="container-fluid main-container">
        <app-upload-w2-form (fileUploaded)="handleFileUploaded()"></app-upload-w2-form>
        <div class="divider"></div>
        <app-files-list [w2Forms]="w2Forms" (selectedW2Form)="selectW2Form($event)"></app-files-list>
      </div>
    </div>
    <div class="col-md-4">
      <div class="container-fluid main-container">
        <app-w2-form-details [w2Form]="w2Forms[selectedIndex]"></app-w2-form-details>
      </div>
    </div>
    <div class="col-md-4">
      <div class="container-fluid main-container">
        <app-chat></app-chat>
      </div>
    </div>
  </div>
</div>
