@import '../shared/styles/variables.scss';

html, body {
  height: 100%;
}

.home-container {
  padding: 20px;
  height: calc(100vh - 75px);

  .row, .col-md-4 {
    height: 100%;
  }

  .app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: $primary-color;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .app-title {
      font-size: 24px;
      font-weight: 500;
      color: $light-neutral;
      margin: 0;
    }

    .logout-button {
      padding: 8px 16px;
      font-size: 16px;
      background-color: $light-neutral;
      color: $dark-neutral;
      border: none;
      border-radius: 50px;
      cursor: pointer;

      &:hover {
        background-color: darken($light-neutral, 10%);
      }
    }
  }

  .main-container {
    background-color: $soft-gray;
    color: $dark-neutral;
    padding: 20px 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 100%;
    display: flex;
    flex-direction: column;

    .divider {
      height: 1.5px;
      background-color: lighten($medium-neutral, 15%);
      margin: 20px 0;
    }
  }

  .no-data {
    color: $medium-neutral;
    font-size: 16px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .home-container, .row, .col-md-4, .main-container {
    height: auto;
    padding: 10px;
  }
  .main-container {
    margin-bottom: 10px;
    padding: 10px 5px;
  }
}